{% extends 'base.html' %}

{% block content %}
<h1>Home Page</h1>

{% if current_user.is_authenticated %}
    <ul class="list-group">
    {% for u in users %}
            {% if u.id != current_user.id %}
                <li class="list-group-item">
                    {{ u.username }}
                    {% if u in current_user.followed.all() %}
                        <a class='btn btn-danger' href="{{ url_for('ig.unfollowUser', user_id=u.id) }}">Unfollow</a>
                    {% else %}
                        <a class='btn btn-primary' href="{{ url_for('ig.followUser', user_id=u.id) }}">Follow</a>
                    {% endif %}
                </li>
            {% endif %}
            {% endfor %}
    </ul>
{% else %}
    <h2>Log in to see the other users.</h2>
{% endif %}


{% endblock %}